*
  margin: 0
  padding: 0
  font: inherit
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  list-style: none

html
  font: 24px/1.25 "Montserrat", sans-serif

body
  color: green
  border-color: blue
  background: white
  border: 2px dotted red
  -webkit-animation: colorchange 2s infinite

body, html
  overflow: hidden
  width: 100%
  height: 100%

@-webkit-keyframes colorchange
  0%
    border-color: green
  25%
    border-color: white
  50%
    border-color: red
  75%
    border-color: white
  100%
    border-color: green

@-webkit-keyframes bgchange
  0%
    background: green
  50%
    background: red
  100%
    background: green

a, a:visited
  color: inherit
  text-decoration: none
  border-bottom: 1px dotted white
  &:hover
    border-bottom-style: solid
    color: blue
    background: white

#message
  font-size: 80vh
  white-space: nowrap
  font-weight: bold
  position: relative
  display: inline-block
  padding-left: 100vw

  // text-transform: uppercase
  // -webkit-transition: all 0.1s
  // -webkit-animation: colorchange 4s infinite
  i
    display: inline-block
  i:nth-child(odd)
    color: rgb(104, 151, 104)
    


.xmas
  color: rgb(214, 100, 100)

.solstice
  color: green

.chanukah
  color: blue